# Analyzing Car Accidents in Canada from 1999 - 2014 using a distributed environment in PySpark

In [28]:
import pyspark as py
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName('analysis').getOrCreate()
df = spark.read.csv('NCDB_1999_to_2014.csv',header=True)
df.show(10,False)

+------+------+------+------+-----+------+------+------+------+------+------+------+----+------+------+----+-----+-----+-----+------+------+------+
|C_YEAR|C_MNTH|C_WDAY|C_HOUR|C_SEV|C_VEHS|C_CONF|C_RCFG|C_WTHR|C_RSUR|C_RALN|C_TRAF|V_ID|V_TYPE|V_YEAR|P_ID|P_SEX|P_AGE|P_PSN|P_ISEV|P_SAFE|P_USER|
+------+------+------+------+-----+------+------+------+------+------+------+------+----+------+------+----+-----+-----+-----+------+------+------+
|1999  |01    |1     |20    |2    |02    |34    |UU    |1     |5     |3     |03    |01  |06    |1990  |01  |M    |41   |11   |1     |UU    |1     |
|1999  |01    |1     |20    |2    |02    |34    |UU    |1     |5     |3     |03    |02  |01    |1987  |01  |M    |19   |11   |1     |UU    |1     |
|1999  |01    |1     |20    |2    |02    |34    |UU    |1     |5     |3     |03    |02  |01    |1987  |02  |F    |20   |13   |2     |02    |2     |
|1999  |01    |1     |08    |2    |01    |01    |UU    |5     |3     |6     |18    |01  |01    |1986  |01  |M    |46   |11   |1     |UU    |1     |
|1999  |01    |1     |08    |2    |01    |01    |UU    |5     |3     |6     |18    |99  |NN    |NNNN  |01  |M    |05   |99   |2     |UU    |3     |
|1999  |01    |1     |17    |2    |03    |QQ    |QQ    |1     |2     |1     |01    |01  |01    |1984  |01  |M    |28   |11   |1     |UU    |1     |
|1999  |01    |1     |17    |2    |03    |QQ    |QQ    |1     |2     |1     |01    |02  |01    |1991  |01  |M    |21   |11   |1     |UU    |1     |
|1999  |01    |1     |17    |2    |03    |QQ    |QQ    |1     |2     |1     |01    |02  |01    |1991  |02  |F    |UU   |13   |2     |UU    |2     |
|1999  |01    |1     |17    |2    |03    |QQ    |QQ    |1     |2     |1     |01    |03  |01    |1992  |01  |M    |UU   |11   |2     |UU    |1     |
|1999  |01    |1     |15    |2    |01    |04    |UU    |1     |5     |U     |UU    |01  |01    |1997  |01  |M    |61   |11   |1     |UU    |1     |
+------+------+------+------+-----+------+------+------+------+------+------+------+----+------+------+----+-----+-----+-----+------+------+------+
only showing top 10 rows

In [30]:
print("Total Rows in Dataset:",df.select("*").count())

Total Rows in Dataset: 5860405

In [31]:
print("Name of Columns - Printing for reference")
df.schema.names

Name of Columns - Printing for reference

['C_YEAR',
 'C_MNTH',
 'C_WDAY',
 'C_HOUR',
 'C_SEV',
 'C_VEHS',
 'C_CONF',
 'C_RCFG',
 'C_WTHR',
 'C_RSUR',
 'C_RALN',
 'C_TRAF',
 'V_ID',
 'V_TYPE',
 'V_YEAR',
 'P_ID',
 'P_SEX',
 'P_AGE',
 'P_PSN',
 'P_ISEV',
 'P_SAFE',
 'P_USER']

In [35]:
###################
###Cleaning Data###
###################
df = df.select("*").filter(col("C_MNTH").cast("int").isNotNull())

# Severity Group by Month

In [36]:
severity = df.select(concat(col("C_YEAR"), lit("-"), col("C_MNTH")).alias("Date"), "C_SEV")
severity = severity.groupBy("Date","C_SEV").count().sort("count")
severity.show(severity.count(),False)

+-------+-----+-----+
|Date   |C_SEV|count|
+-------+-----+-----+
|2013-04|1    |230  |
|2013-03|1    |237  |
|2014-04|1    |246  |
|2014-03|1    |260  |
|2013-02|1    |280  |
|2009-03|1    |294  |
|2011-04|1    |299  |
|2012-04|1    |302  |
|2010-04|1    |313  |
|2012-02|1    |317  |
|2009-04|1    |325  |
|2014-02|1    |326  |
|2010-02|1    |327  |
|2011-03|1    |332  |
|2011-05|1    |333  |
|2010-03|1    |334  |
|2009-02|1    |335  |
|2011-02|1    |339  |
|2003-02|1    |347  |
|2014-11|1    |347  |
|2013-06|1    |349  |
|2013-12|1    |353  |
|2008-02|1    |353  |
|2014-01|1    |360  |
|2008-04|1    |362  |
|2008-03|1    |371  |
|2014-06|1    |373  |
|2014-12|1    |381  |
|2013-05|1    |381  |
|2012-06|1    |382  |
|2012-05|1    |386  |
|2014-05|1    |388  |
|2009-05|1    |391  |
|2012-11|1    |394  |
|2004-02|1    |399  |
|2004-03|1    |400  |
|2005-02|1    |403  |
|2014-09|1    |406  |
|2012-12|1    |407  |
|2012-09|1    |407  |
|2012-10|1    |408  |
|2001-01|1    |408  |
|2009-01|1    |412  |
|2011-01|1    |415  |
|2002-04|1    |418  |
|2010-01|1    |418  |
|2000-03|1    |419  |
|2012-03|1    |424  |
|2010-05|1    |427  |
|2003-04|1    |430  |
|2012-01|1    |431  |
|1999-01|1    |433  |
|2009-10|1    |435  |
|2000-02|1    |437  |
|2014-10|1    |438  |
|1999-04|1    |438  |
|2011-12|1    |440  |
|2013-10|1    |440  |
|2002-03|1    |446  |
|2001-04|1    |448  |
|2013-11|1    |448  |
|2011-10|1    |450  |
|2001-03|1    |451  |
|2011-09|1    |452  |
|2005-04|1    |454  |
|2011-11|1    |455  |
|2010-09|1    |456  |
|2001-02|1    |458  |
|2014-07|1    |458  |
|2002-02|1    |460  |
|2004-04|1    |460  |
|2010-12|1    |461  |
|2008-05|1    |461  |
|2007-03|1    |462  |
|2010-06|1    |463  |
|2009-09|1    |466  |
|2009-06|1    |468  |
|2000-04|1    |471  |
|2013-01|1    |471  |
|2005-03|1    |472  |
|2009-12|1    |477  |
|2006-12|1    |477  |
|2008-06|1    |478  |
|2010-11|1    |479  |
|1999-02|1    |482  |
|2011-08|1    |487  |
|2013-09|1    |488  |
|2006-04|1    |488  |
|2013-08|1    |491  |
|2006-05|1    |492  |
|2007-01|1    |492  |
|2007-02|1    |492  |
|2008-01|1    |493  |
|2006-11|1    |495  |
|2006-03|1    |497  |
|2001-05|1    |498  |
|2008-12|1    |498  |
|2012-08|1    |499  |
|2011-06|1    |500  |
|2007-04|1    |501  |
|2003-03|1    |501  |
|2008-11|1    |505  |
|2006-01|1    |506  |
|2002-01|1    |510  |
|2007-11|1    |517  |
|2014-08|1    |517  |
|2003-05|1    |522  |
|2012-07|1    |525  |
|2008-09|1    |529  |
|2002-05|1    |530  |
|2008-10|1    |531  |
|2007-05|1    |533  |
|2004-01|1    |534  |
|2009-11|1    |537  |
|2000-11|1    |537  |
|2005-01|1    |538  |
|2003-01|1    |540  |
|2000-05|1    |542  |
|2010-10|1    |543  |
|2003-11|1    |557  |
|2013-07|1    |559  |
|2000-01|1    |566  |
|2004-05|1    |566  |
|2001-10|1    |571  |
|2001-11|1    |573  |
|2011-07|1    |573  |
|2009-07|1    |581  |
|2003-12|1    |581  |
|2010-08|1    |581  |
|2006-09|1    |584  |
|2001-09|1    |588  |
|2005-10|1    |589  |
|2005-09|1    |589  |
|2005-11|1    |590  |
|2004-11|1    |593  |
|2007-06|1    |593  |
|2001-07|1    |594  |
|2005-05|1    |595  |
|2000-06|1    |596  |
|2004-06|1    |597  |
|2002-11|1    |600  |
|2006-02|1    |600  |
|2006-06|1    |602  |
|2009-08|1    |602  |
|2003-09|1    |604  |
|2008-08|1    |605  |
|2003-06|1    |605  |
|2007-12|1    |609  |
|2008-07|1    |610  |
|2003-10|1    |615  |
|2000-10|1    |617  |
|1999-03|1    |618  |
|2010-07|1    |620  |
|2007-07|1    |620  |
|2007-10|1    |620  |
|2002-06|1    |625  |
|2006-10|1    |626  |
|2004-12|1    |629  |
|1999-05|1    |637  |
|2005-07|1    |638  |
|2000-12|1    |640  |
|2004-10|1    |644  |
|1999-06|1    |645  |
|2002-10|1    |647  |
|1999-10|1    |648  |
|2001-06|1    |656  |
|2007-09|1    |657  |
|1999-11|1    |659  |
|2004-09|1    |662  |
|2002-09|1    |668  |
|2007-08|1    |672  |
|2005-12|1    |689  |
|2005-06|1    |692  |
|2001-12|1    |693  |
|2004-07|1    |712  |
|2000-08|1    |712  |
|2002-07|1    |714  |
|2004-08|1    |730  |
|1999-08|1    |730  |
|2005-08|1    |731  |
|2000-09|1    |734  |
|2000-07|1    |740  |
|2002-08|1    |743  |
|2006-07|1    |754  |
|1999-12|1    |756  |
|2003-08|1    |760  |
|1999-07|1    |763  |
|2006-08|1    |768  |
|2001-08|1    |780  |
|2002-12|1    |783  |
|1999-09|1    |789  |
|2003-07|1    |808  |
|2014-04|2    |17595|
|2013-04|2    |20112|
|2011-04|2    |20552|
|2012-04|2    |21068|
|2010-03|2    |21177|
|2014-03|2    |21515|
|2014-05|2    |21669|
|2013-02|2    |21893|
|2012-02|2    |21916|
|2008-04|2    |21929|
|2013-03|2    |21977|
|2009-02|2    |22064|
|2009-03|2    |22227|
|2010-02|2    |22230|
|2009-04|2    |22660|
|2012-03|2    |22863|
|2014-02|2    |22942|
|2011-03|2    |22984|
|2010-04|2    |23655|
|2014-06|2    |23898|
|2007-04|2    |24010|
|2011-02|2    |24337|
|2008-03|2    |24432|
|2011-05|2    |24435|
|2004-04|2    |24641|
|2010-01|2    |25115|
|2014-12|2    |25170|
|2013-05|2    |25252|
|2009-05|2    |25499|
|2006-04|2    |25755|
|2008-05|2    |25773|
|2005-02|2    |25874|
|2014-09|2    |25988|
|1999-02|2    |26056|
|2004-03|2    |26119|
|2014-07|2    |26121|
|2006-03|2    |26221|
|2012-05|2    |26248|
|2003-04|2    |26264|
|2005-04|2    |26325|
|2009-11|2    |26349|
|2006-02|2    |26396|
|2014-11|2    |26465|
|2007-03|2    |26487|
|2013-01|2    |26583|
|2012-01|2    |26603|
|2014-08|2    |26636|
|2004-02|2    |26683|
|2013-06|2    |26815|
|2005-03|2    |26877|
|2008-02|2    |26999|
|2014-10|2    |27032|
|2013-11|2    |27075|
|2012-11|2    |27091|
|2001-04|2    |27184|
|2000-03|2    |27368|
|2002-04|2    |27407|
|2011-06|2    |27735|
|2010-05|2    |27836|
|2011-10|2    |27923|
|1999-04|2    |27971|
|2014-01|2    |28057|
|2013-09|2    |28062|
|2013-12|2    |28062|
|2012-09|2    |28083|
|2012-12|2    |28102|
|2011-09|2    |28152|
|2012-06|2    |28198|
|2008-09|2    |28351|
|2011-11|2    |28378|
|2011-01|2    |28398|
|2012-10|2    |28401|
|2008-01|2    |28421|
|2013-10|2    |28472|
|2008-11|2    |28513|
|2006-01|2    |28570|
|2007-05|2    |28710|
|2009-01|2    |28747|
|2013-07|2    |28774|
|2002-02|2    |28779|
|2008-06|2    |28809|
|1999-03|2    |28836|
|2010-12|2    |28848|
|2009-10|2    |28891|
|2011-07|2    |28933|
|2008-10|2    |28936|
|2010-11|2    |28995|
|2011-12|2    |29098|
|2011-08|2    |29106|
|2010-09|2    |29164|
|2012-07|2    |29203|
|2000-04|2    |29220|
|2013-08|2    |29228|
|2008-07|2    |29325|
|2009-12|2    |29367|
|2009-09|2    |29449|
|2007-02|2    |29461|
|2010-10|2    |29527|
|2009-07|2    |29555|
|2009-06|2    |29601|
|2004-05|2    |29686|
|2001-03|2    |29701|
|2012-08|2    |29719|
|2005-05|2    |29899|
|2003-03|2    |29985|
|2000-02|2    |30014|
|2001-02|2    |30162|
|2008-12|2    |30254|
|2007-01|2    |30431|
|2010-06|2    |30435|
|2007-12|2    |30529|
|2004-11|2    |30689|
|2008-08|2    |30702|
|2006-05|2    |30748|
|2001-01|2    |30897|
|2009-08|2    |31003|
|2010-07|2    |31028|
|2007-11|2    |31047|
|2010-08|2    |31084|
|2003-02|2    |31126|
|2007-10|2    |31144|
|2007-09|2    |31379|
|2003-05|2    |31650|
|2006-11|2    |31874|
|2006-12|2    |32093|
|2002-05|2    |32147|
|2007-06|2    |32176|
|2005-10|2    |32465|
|2002-03|2    |32527|
|2005-09|2    |32547|
|2004-09|2    |32656|
|2002-01|2    |32698|
|2005-11|2    |32715|
|2006-09|2    |32760|
|2000-05|2    |33076|
|2001-05|2    |33081|
|1999-01|2    |33104|
|2007-07|2    |33108|
|2005-01|2    |33158|
|2007-08|2    |33241|
|2003-11|2    |33345|
|2004-06|2    |33350|
|2001-11|2    |33655|
|2006-10|2    |33744|
|2003-09|2    |33869|
|2003-12|2    |33878|
|2006-07|2    |34126|
|2006-06|2    |34166|
|1999-11|2    |34200|
|2001-09|2    |34203|
|2003-10|2    |34208|
|2005-06|2    |34214|
|2004-10|2    |34521|
|2005-12|2    |34653|
|2000-11|2    |34675|
|1999-05|2    |34844|
|2004-07|2    |34926|
|2000-01|2    |35111|
|2006-08|2    |35158|
|2004-08|2    |35185|
|2000-10|2    |35276|
|2005-08|2    |35291|
|2001-10|2    |35299|
|2003-06|2    |35407|
|2005-07|2    |35466|
|2001-06|2    |35614|
|1999-10|2    |35621|
|2002-10|2    |35629|
|1999-09|2    |35687|
|2002-11|2    |35728|
|2004-12|2    |35753|
|2003-07|2    |35872|
|2003-08|2    |36015|
|2002-09|2    |36225|
|1999-06|2    |36384|
|2001-07|2    |36614|
|2002-06|2    |36646|
|1999-12|2    |36710|
|2000-09|2    |37136|
|2002-12|2    |37218|
|2000-08|2    |37677|
|2001-12|2    |37796|
|2004-01|2    |37911|
|2000-06|2    |37938|
|1999-07|2    |38045|
|2002-07|2    |38124|
|2000-07|2    |38204|
|1999-08|2    |38441|
|2001-08|2    |38444|
|2003-01|2    |38543|
|2000-12|2    |39343|
|2002-08|2    |39707|
+-------+-----+-----+